@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (max-width: 1150px){
    body{
        overflow-x: hidden;
    }
    .nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .nav2{
        /* display: none; */
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: hsla(231, 69%, 60%, 0.885);
        right: -100%;
        transition: all .6s ease-in-out;
    }
    .nav2 li{
        padding: 1rem;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-transform:uppercase;
        cursor: pointer;
    }
    hr{
        width: 80%;
        margin: 0 auto;
    }
    .m1{
        margin-top: 5rem;
    }
    .x{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .log{
        position: absolute;
        top: 1.9rem;
        left: 2rem;
    }
    .login{
        width: 90%;
        margin: 2rem auto;
        border: .3rem solid white;
        border-radius: 1rem;
    }
    .icons{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .showmenu{
        right:0px !important;
    }
    .container{
        width: 100%;
        margin: 2rem 0rem 0rem auto;
        display: flex;
        flex-flow: column;
    }
    .container .item1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .item1 svg{
        object-fit: contain;
        scale: .9;
    }
    .text{
        text-align: center;
        padding: 1.5rem;
        text-wrap: balance;
    }
}